@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("./assets/fonts/HelveticaNeueW01-55Roman.eot");
  src: url("./assets/fonts/HelveticaNeueW01-55Roman.eot") format("eot"),
    url("./assets/fonts/HelveticaNeueW01-55Roman.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueW01-55Roman.ttf") format("truetype"),
    url("./assets/fonts/HelveticaNeueW01-55Roman.svg") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: HelveticaNeueW01-55Roma;
  font-style: normal;
  background-color: #f0f4f7;
}

.loading {
  text-align: center;
  margin-top: 25%;
}

section {
  height: 550px;
  width: 50%;
  margin: 10% auto;
  background-color: #fff;
  border-radius: 15px;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

header {
  padding: 15px 25px;
}

h2 {
  font-size: 30px;
  color: #43bf17;
  padding-top: 15px;
}

.empty {
  text-align: center;
}

h5 {
  text-align: center;
  color: black;
}

.empty h2 {
  color: black;
}

p {
  font-size: 26px;
  color: #8c9ea3;
}

hr {
  border-top: 1px solid #f0f4f7;
}

li {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #f0f4f7;
}

span {
  padding-right: 15px;
  font-size: 18px;
  color: #71878e;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 65px;
  margin-left: 10px;
  color: #cacaca;
}

header {
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  margin-right: 15px;
  color: #fff;
  background: #bb2525;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.sort {
  display: flex;
  flex-direction: column;
}

.sort-btn {
  height: 16px;
}

.arrow-btn {
  font-size: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ababab;
}

li:first-child div:nth-child(3) .up {
  color: #eeeeee;
  cursor: not-allowed;
  pointer-events: none;
}

.display-btn {
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  padding: 6px 20px;
}

.form-content {
  margin: 16px;
  padding: 5%;
  border: 1px solid #f0f4f7;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #005cc8;
}

.searchTerm {
  border: 2px solid #005cc8;
  padding: 10px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.cancel-btn {
  background-color: red;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}
